<h4>Linear Algebra Series</h4>
<div class="taxonomy__index">
  <ol class="description">
    <li><a href="/mathematics/linear_algebra_tensor/">선형대수의 기초</a></li>
    <li><a href="/mathematics/linear_algebra_various_matrix/">다양한 행렬</a></li>
    <li><a href="/mathematics/linear_algebra_linear_system/">선형 시스템</a></li>
    <li><a href="/mathematics/linear_algebra_determinant/">행렬식</a></li>
    <li><a href="/mathematics/linear_algebra_inverse_matrix/">역행렬</a></li>
    <li><a href="/mathematics/linear_algebra_basis_dimension/">기저와 차원</a></li>
    <li><a href="/mathematics/linear_algebra_inner_product_norm/">내적과 norm</a></li>
    <li><a href="/mathematics/linear_algebra_orthogonal_qr_decomposition/">직교공간과 QR 분해</a></li>
    <li><a href="/mathematics/linear_algebra_various_products/">다양한 곱 연산</a></li>
    <li><a href="/mathematics/linear_algebra_eigenvalue_eigenvector/">고유값과 고유벡터</a></li>
    <li><a href="/mathematics/linear_algebra_orthogonal_matrix/">직교 행렬</a></li>
    <li><a href="/mathematics/linear_algebra_orthogonal_diagonalization/">행렬의 대각화</a></li>
    <li><a href="/mathematics/linear_algebra_lu_decomposition/">LU 분해</a></li>
  </ol>
</div>