<h4>Starting Django Series</h4>
<div class="taxonomy__index">
  <ol class="description">
    <li><a href="/django/initiate/">프로젝트 시작</a></li>
    <li><a href="/django/app_orm/">App과 ORM</a></li>
    <li><a href="/django/template_css/">템플릿과 css</a></li>
    <li><a href="/django/mtv_form/">MTV 패턴과 Create</a></li>
    <li><a href="/django/index_page/">인덱스 페이지</a></li>
    <li><a href="/django/signin_signup/">로그인/로그아웃, 회원가입</a></li>
    <li><a href="/django/pagination/">페이지네이션</a></li>
    <li><a href="/django/update_delete/">Update/Delete</a></li>
    <li><a href="/django/views/">view 정리</a></li>
    <li><a href="/django/vote/">추천 기능</a></li>
    <li><a href="/django/anchor/">앵커</a></li>
  </ol>
</div>