<h4>SQL Series</h4>
<div class="taxonomy__index">
  <ol class="description">
    <li><a href="/dataengineering/date_modeling/">데이터 모델의 이해</a></li>
    <li><a href="/dataengineering/entity_relationship_model/">엔티티, 속성, 관계, 식별자</a></li>
    <li><a href="/dataengineering/database_normalization/">정규화, 반정규화</a></li>
    <li><a href="/dataengineering/database_architecture/">데이터베이스 구조와 성능</a></li>
    <li><a href="/dataengineering/relational_database/">관계형 데이터베이스</a></li>
    <li><a href="/dataengineering/sql_where_groupby/">WHERE, GROUP BY</a></li>
    <li><a href="/dataengineering/sql_join/">JOIN</a></li>
    <li><a href="/dataengineering/sql_hierarchical_query_self_sjoin/">계층형 질의, 셀프 조인</a></li>
    <li><a href="/dataengineering/sql_subquery_view/">서브쿼리, 뷰</a></li>
    <li><a href="/dataengineering/sql_group_window_function/">그룹 함수, 윈도우 함수</a></li>
    <li><a href="/dataengineering/sql_procedure/">절차형 SQL</a></li>
  </ol>
</div>