<h4>Django Series</h4>
<div class="taxonomy__index">
  <ol class="description">
    <li><a href="/webdev/starting_django_01/">프로젝트 시작</a></li>
    <li><a href="/webdev/starting_django_02/">App과 ORM</a></li>
    <li><a href="/webdev/starting_django_03/">템플릿과 css</a></li>
    <li><a href="/webdev/starting_django_04/">MTV 패턴과 Form</a></li>
    <li><a href="/webdev/starting_django_05/">인덱스 페이지</a></li>
    <li><a href="/webdev/starting_django_06/">로그인/로그아웃, 회원가입</a></li>
    <li><a href="/webdev/starting_django_07/">페이징</a></li>
    <li><a href="/webdev/starting_django_08/">수정 및 삭제</a></li>
    <li><a href="/webdev/starting_django_09/">view 정리</a></li>
    <li><a href="/webdev/starting_django_10/">추천 기능</a></li>
    <li><a href="/webdev/starting_django_11/">내부 링크</a></li>
  </ol>
</div>