<h4>Statistics 101 Series</h4>
<div class="taxonomy__index">
  <ol class="description">
    <li><a href="/statistics/statistics_01/">모집단과 표본</a></li>
    <li><a href="/statistics/statistics_02/">자료의 종류와 특성</a></li>
    <li><a href="/statistics/statistics_03/">일변량 자료</a></li>
    <li><a href="/statistics/statistics_04/">다변량 자료</a></li>
    <li><a href="/statistics/statistics_05/">확률과 통계</a></li>
    <li><a href="/statistics/statistics_06/">조건부 확률</a></li>
    <li><a href="/statistics/statistics_07/">확률변수와 확률분포</a></li>
    <li><a href="/statistics/statistics_08/">기대값과 모분산</a></li>
    <li><a href="/statistics/statistics_09/">확률 벡터와 공분산</a></li>
    <li><a href="/statistics/statistics_10/">다양한 이산확률분포</a></li>
    <li><a href="/statistics/statistics_11/">정규분포</a></li>
    <li><a href="/statistics/statistics_12/">확률표본과 중심극한정리</a></li>
  </ol>
</div>