<h4>Statistics 101 Series</h4>
<div class="taxonomy__index">
  <ol class="description">
    <li><a href="/statistics/population_sampling/">모집단과 표본</a></li>
    <li><a href="/statistics/variable_types/">자료의 종류와 특성</a></li>
    <li><a href="/statistics/univariate_date/">일변량 자료</a></li>
    <li><a href="/statistics/multivariate_date/">다변량 자료</a></li>
    <li><a href="/statistics/statistical_probability/">확률과 통계</a></li>
    <li><a href="/statistics/conditional_probability/">조건부 확률</a></li>
    <li><a href="/statistics/random_variable_probability_distribution/">확률변수와 확률분포</a></li>
    <li><a href="/statistics/expectation_population_variance/">기대값과 모분산</a></li>
    <li><a href="/statistics/probability_vector_covariance/">확률 벡터와 공분산</a></li>
    <li><a href="/statistics/discrete_distribution/">다양한 이산확률분포</a></li>
    <li><a href="/statistics/normal_distribution/">정규분포</a></li>
    <li><a href="/statistics/sampling_distribution/">확률표본과 중심극한정리</a></li>
  </ol>
</div>