<h4>빅데이터 분석기사 실기 Series</h4>
<div class="taxonomy__index">
  <ol class="description">
    <li><a href="/dataanalysis/bigdata_certi_01/">예제 문제 풀이</a></li>
    <li><a href="/dataanalysis/bigdata_certi_02/">단답형 문제 정리</a></li>
    <li><a href="/dataanalysis/bigdata_certi_03/">작업형 문제 2회차</a></li>
    <li><a href="/dataanalysis/bigdata_certi_04/">작업형 문제 3회차</a></li>
    <li><a href="/dataanalysis/bigdata_certi_05/">cheat sheet</a></li>
    <li><a href="/dataanalysis/bigdata_certi_06/">작업형 문제 4회차</a></li>
  </ol>
</div>