<h4>Git Series</h4>
<div class="taxonomy__index">
  <ol class="description">
    <li><a href="/swengineering/manual_git_01/">Git 시작하기</a></li>
    <li><a href="/swengineering/manual_git_02/">저장소에 업로드 하기</a></li>
    <li><a href="/swengineering/manual_git_03/">원격 저장소에서 다운받기</a></li>
    <li><a href="/swengineering/manual_git_04/">기타 활용팁</a></li>
    <li><a href="/swengineering/manual_git_05/">협업하기</a></li>
    <li><a href="/swengineering/gitignore/">파일/폴더 제외 방법</a></li>
    <li><a href="/swengineering/git_multi_profile/">멀티 프로필 사용법</a></li>
    <li><a href="/swengineering/git_cowork/">협업 방법론</a></li>
  </ol>
</div>