/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

// customize skin color
$background-color: #eeeeee !default;
$text-color: #2a2231 !default;
$muted-text-color: #403946 !default;
$primary-color: #3d3d3d !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: mix(#fff, $primary-color, 80%) !default;
$link-color: #39006e !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.pagination--pager:hover {
  background-color: $link-color !important; //override
  // color: #fff;
}

// customize remote buttons color
.fa-h-square:before {
  color: #a3a3a3;
}

.fa-caret-square-up:before {
  color: #a3a3a3;
}

.fa-caret-square-down:before {
  color: #a3a3a3;
}