---
layout: plain
---

{{ content }}

{% capture categories %}
  {% for category in site.categories %}
    {{ category[0] }}
  {% endfor %}
{% endcapture %}
{% assign category_sorted = categories | split:' ' | sort_natural %}

<ul class="taxonomy__index">
  {% for category in category_sorted %}
    <li>
      <a href="#{{ category }}"><strong>{{ category }}</strong></a>
      <a href="/{{ category | downcase }}">{{ site.categories[category].size }}</a>
    </li>
  {% endfor %}
</ul>

{% for category in category_sorted %}
  <section id="{{ category }}">
    <h2>{{ category }}</h2>
    <div>
      {% for post in site.categories[category] %}
        {% include archive-single.html %}
      {% endfor %}
    </div>
    <a href="#">Back to Top &uarr;</a>
    <hr>
  </section>
{% endfor %}