---
layout: plain
---

{{ content }}

{%- capture tags -%}
  {%- assign tags_len = 1 -%}
  {%- for tag in site.tags -%}
    {%- if tags_len < site.tags.size -%}
      {{- tag[0] -}},
      {%- assign tags_len = tags_len | plus: 1 -%}
    {%- else -%}
      {{- tag[0] -}}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}
{%- assign tag_sorted = tags | split:',' | sort_natural -%}

<ul class="taxonomy__index">
  {% for tag in tag_sorted %}
    <li>
      <a href="#{{ tag }}"><strong>{{ tag }}</strong> {{ site.tags[tag].size }}</a>
    </li>
  {% endfor %}
</ul>

{% for tag in tag_sorted %}
  <section id="{{ tag }}">
    <h2>{{ tag }}</h2>
    <div>
      {% for post in site.tags[tag] %}
        {% include archive-single.html %}
      {% endfor %}
    </div>
    <a href="/tags">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    <hr>
  </section>
{% endfor %}